openai-whisper
datasets
transformers
torch
torchvision
facenet-pytorch
mediapipe
pillow
mediapipe 
opencv-python 
numpy
flask
flask-cors
pyannote.audio
python-dotenv
openai
eng-spacysentiment
# After installing spacy, run the following to download the model:
# python -m spacy download en_core_web_sm
reportlab