h1 {
    display: block;
    margin: 20px auto;
    text-align: center;
}

caption {
    font-size: x-large;
}

table {
    background-color: aliceblue;
    margin: 0 auto;
}

 tr>th {
    background-color: rgb(133, 129, 129);
    color: white;
}

tr:nth-child(odd) {
    background-color: aliceblue;
}

tr:nth-child(even) {
    background-color: whitesmoke;
}

th, td {
    padding: 10px;
}

.addButton {
    display: block;
    justify-self: right;
}